<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--启动AspectJ的自动代理，可以读取到@AspectJ注解的类与aj文件对应的类-->
    <aop:aspectj-autoproxy/>
    <!--配置被代理类Human的bean，也就是Spring AOP中的目标-->
    <bean id="human" class="com.lavor.spring.aop.Human"/>
    <!--配置代理类HumanClassicAOP的bean，也就是Spring AOP中的通知-->
    <bean id="humanAspectAOP" class="com.lavor.spring.aop.HumanAspectJAOPAJ"
          factory-method="aspectOf">
    </bean>
</beans>